* {
    margin: 0;
}

html, body {
    width: 860px;
    margin: 0;
}

.root {
    width: calc(860px - 100px);
    padding: 30px 40px;
}

.block {
    width: 100%;
    padding: 5px 0;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(75, 75, 75, 1);
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgba(25, 163, 83, 0.288);
    margin-bottom: 5px;
}

.duLiKaiFa {
    margin: auto 0 5px 5px;
}

a {
    color: rgba(22, 119, 63, 0.829);
}